@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  background: white;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #000000;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 水平居中公共类 */
.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 垂直居中公共类 */
.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header {
  position: relative;
  height: 1.25rem;
  background: #ff841d;
  overflow: hidden;
}
header .logo {
  height: 0.625rem;
  width: 4.6375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.375rem;
}
header .logo img {
  width: 100%;
}
header .down {
  height: 0.85rem;
  width: 0.85rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
}
header .down img {
  width: 100%;
}
#back {
  position: relative;
  height: 1.25rem;
  background: #ff841d;
  overflow: hidden;
}
#back .mui-title {
  line-height: 1.25rem;
}
#back h1 {
  font-size: 0.5rem;
  font-weight: bold;
  color: white;
}
#back .mui-icon-back:before,
#back .mui-icon-left-nav:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  color: white;
}
#back .mui-bar .mui-icon {
  padding-top: 0;
  padding-bottom: 0;
}
#back .down {
  height: 0.85rem;
  width: 0.85rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
}
#back .down img {
  width: 100%;
}
footer {
  position: relative;
  margin-top: 0.75rem;
  overflow: hidden;
  background: #F1F1F1;
}
footer span {
  float: left;
  text-align: center;
  border-right: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 0.85rem;
  line-height: 0.85rem;
}
footer span a {
  height: 100%;
  line-height: 0.85rem;
  font-size: 0.35rem;
}
footer span:nth-of-type(1) {
  width: 30%;
}
footer span:nth-of-type(2) {
  width: 30%;
}
footer span:nth-of-type(3) {
  width: 40%;
  border-right: none;
}
footer .foot {
  padding: 0.375rem 0;
  background: #F1F1F1;
}
footer .foot p {
  height: 0.4rem;
  font-size: 0.3rem;
  color: #666;
  text-align: center;
  line-height: 0.45rem;
}
footer .foot p a {
  display: block
            height: 100%;
}
footer .foot p a:nth-of-type(1) {
  color: red;
}
input[type='search'] {
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 5px;
}
.search {
  padding: 0.25rem;
  position: relative;
  padding-right: 2rem;
  background: white;
}
.search .searchBtn {
  width: 100%;
  height: 0.75rem;
  line-height: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.3rem;
  padding-right: 1.25rem;
  padding-left: 0.5rem;
}
.search .btn {
  position: absolute;
  right: 0.25rem;
  background: #ff841d;
  width: 1.575rem;
  height: 0.75rem;
  font-size: 0.4rem;
  border-radius: 0.375rem;
  line-height: 0.475rem;
  color: white;
}
.line {
  height: 0.005rem;
}
.m-main .prod {
  padding: 0 0.25rem;
}
.m-main .prod .title {
  font-size: 0.45rem;
  margin: 0.25rem auto 0.125rem auto;
  font-weight: 800;
  text-align: left;
  text-align-last: left;
  word-break: break-all;
  color: #5a5a5a;
  line-height: normal;
}
.m-main .prod h4 {
  color: #ff6c00;
  display: block;
  font-size: 0.375rem;
}
.m-main .prod > p {
  margin: 0.3rem auto;
  color: #999999;
  font-size: 0.3rem;
}
.m-main .prod > .pic {
  position: relative;
}
.m-main .prod > .pic p {
  line-height: 0.6rem;
  color: #606060;
  word-break: break-all;
  margin: 0.15rem auto;
}
.m-main .prod > .pic img {
  float: right;
  width: 3rem;
  height: 3rem;
}
.m-main .go a {
  display: block;
  margin: 0.5rem 0.25rem;
  margin-top: 1rem;
  background: #FF9000;
  height: 0.75rem;
  border-radius: 0.1rem;
  line-height: 0.75rem;
  text-align: center;
  font-size: 0.35rem;
  color: #ffffff;
}
.m-main .pic2 {
  text-align: center;
  margin: 0.5rem 0.25rem;
}
.m-main .pic2 img {
  width: 100%;
}
.m-main .talk .tit {
  font-size: 0.4rem;
  padding: 0.15rem 0.2rem;
}
.m-main .talk .form {
  border: 2px solid #ECEAE8;
  border-radius: 2px;
  padding: 0.1rem 0 0 0.1rem;
  background-color: #fff;
  position: relative;
  width: 98%;
  margin: 0px auto;
}
.m-main .talk .form textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 0.55rem;
  font-size: 0.35rem;
  outline: 0;
  color: #666;
  height: 1.7rem;
}
.m-main .talk .form .ctrl {
  background-color: #fbfbfb;
  height: 0.9rem;
  margin-left: -4px;
  border-top: solid 1px #f2f2f2;
}
.m-main .talk .form .ctrl input {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #ff841d;
  border: none;
  border: 2px solid #ff841d;
  border-left: none;
  border-top: none;
  padding: 0px;
  width: 2.5rem;
  height: 0.975rem;
  color: #fff;
  outline: 0;
  border-radius: 0 0 0.05rem 0;
  font-size: 0.4rem;
}
.m-main .talk .userimg img {
  width: 1rem;
  background-position: top;
  border-radius: 0.5rem;
  height: 1rem;
  vertical-align: middle;
  float: left;
}
.m-main .talk .con {
  overflow: hidden;
  padding-left: 0.25rem;
}
.m-main .talk .con .name {
  margin-bottom: 0.15rem;
  height: 0.4rem;
}
.m-main .talk .con .name .username {
  color: #5997c0;
  font-size: 0.325rem !important;
  float: left;
}
.m-main .talk .con .name .time {
  color: #999999;
  font-size: 0.325rem !important;
  float: right;
}
.m-main .talk .con .content {
  word-break: break-all;
  font-size: 0.375rem !important;
  color: #606060;
  line-height: 0.5rem;
}
.ui-border-b {
  border-bottom: 1px solid #CCCCCC;
}
