  @import url(all.less);

  
  .gn-main {
      ul {
          box-sizing: border-box;
          li {
              padding: 0.25rem;
              float: left;
              width: 50%;
              border: 1px solid #EEEEEE;
              background: white;
              a {
                  display: block;
                  text-align: left;
                  .pic {
                      margin: 0.25rem auto;
                      width: 3.5rem;
                      img {
                          width: 100%;
                      }
                  }
                  .dis {
                      font-weight: bold;
                      height: 0.95rem;
                      line-break: 0.45rem;
                      word-break: break-all;
                      color: #333333;
                      font-size: 0.35rem;
                  }
                  p {
                      font-size: 0.35rem;
                      margin-bottom: 0.25rem;
                      color: #8f8f94;
                  }
                  span {
                      font-size: 0.3rem;
                      color: #a1a1a1;
                  }
              }
          }
      }
  }